* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* General style */

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
}


/* navbar */

.nav-top {
    background-color: #0084fd;
    height: 4.7rem;
}

.flex {
    display: flex;
}

.nav-top .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-top ul {
    display: none;
}

.nav-top .hamburger {
    color: white;
    font-size: 1.5rem;
}

@media screen and (min-width: 811px) {
    .nav-top .hamburger {
        display: none;
    }
    

    .nav-top ul {
        display: flex;
        list-style: none;
        color: white;
        align-items: center;
        height: 100%;
        
    }
    
    .nav-top li {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: white;
        padding: 0 1rem;
    }
    
    
    .nav-top .nav-link:hover {
        background-color: aqua;
    }
    
    .nav-top .btn {
        background-color: white;
        padding: 0.5rem;
        color: black;
    }
   
}

/* sezione1 */

.container-card {
    margin: 0 auto;
    width: 90%;
}

.card {
    background-color: #b5ddff;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    line-height: 1.6em;
}

.card1 {
    padding: 0 1rem;
    text-align: left;
}


.card-title {
    color: #0084fd;
    font-weight: bolder;
    font-size: 2rem;
    padding: 20px 5px;
    font-size: 1.5rem;
  
}

.card p {
    padding: 0.5rem 1rem;
}



.card-img img {
    width: 100%;
}

.card .btn {
    background-color: #0084fd;
    padding: .5rem 3rem;
    margin: 1rem 0;
}

.card .card-link {
    text-decoration: none;
    color: white;
}

.icon {
    
    color: #0084FD;
    font-size: 5rem;
    padding: 20px;
    
}


/* tablet */
@media screen and (min-width: 376px) {
    .container-card {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        flex: 1 1 30%;
    }

    .card1 {
        flex: 1 1 63.5%;
        
    }

    

    
}

/* desktop */

@media screen and (min-width: 811px) {
    .card1 {
        display: flex;
    }

    .txt {
        width: 60%;
    }

    .container-card {
        width: 70%;
        margin: 1rem auto;
    }

}


/* Sezione 2 */

.violet {
    background-color: #9593e6;
    padding: 1rem;
    color: white;
}

.container-card2 {
    margin: 0 auto;
    width: 90%;
}

.white {
    background-color: white;
    border-radius: 2rem;
    color: black;
}

.developement {
    text-align: center;
    margin: auto;
}

.planning-img img {
    width: 100%;
}

.violet .btn {
    background-color: #9593E6;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    margin: 1rem auto;
}

.card-title2 {
    font-weight: bold;
    font-size: 1.6rem;
    padding: 2rem 0;
}

.violet p {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.white p {
    font-style: italic;
}


/* tablet */

@media screen and (min-width: 376px) {
    .big {
        font-size: 3rem;
    }
}

/* desktop */

@media screen and (min-width: 811px) {
    .contain-plan {
        display: flex;
        width: 70%;
        margin: 4rem auto;
    }

    .planning-img {
        margin: 4rem;
        padding: 2rem;
    }
    
}

/* modificare altezza immagine 2 sezione 2 */


/* sezione3 */

.testimonials {
    padding: 3rem 1rem;
    text-align: center;
}

.testimonial-card {
    background-color: #9593E6;
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    border-radius: 20px;
    color: white;
}

.testimonial-card p {
    padding: 1rem 0 ;
    line-height: 1.6rem;
}

.test-img img {
    width: 100%;
    clip-path: circle();
}

.test-title {
    color: #9593E6;
    font-size: bolder;
    font-size: 1.6rem;
    padding: 1rem;
}


/* tablet */

@media screen and (min-width: 376px) {
    .testimonial-card {
        display: flex;
    }
    
}

/* Desktop */

@media screen and (min-width: 811px) {
    .testimonials {
        width: 70%;
        margin: auto;
    }
}


/* sezione 4 */

.title4 {
    text-align: center;
    font-weight: bolder;
    font-size: 1.6rem;
    margin: 3rem 1rem;
}
.number-card {
    margin: 1.5rem 1rem;
    padding: 1rem;
    
}

.number {
    padding: 0.5rem;
    font-size: 3rem;
    color: #9593E6;
    font-weight: bolder;
}

.number-title {
    color: #9593E6;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.number-card .btn {
    background-color: #9593e6;
    padding: .5rem 2.5rem;
    margin: 1rem .5rem;
    border-radius: 20rem;
    color: white;
}

.number-card p {
    line-height: 1.6rem;
}

/* tablet */

@media screen and (min-width: 376px) {
    .container-number {
        display: flex;
        flex-wrap: wrap;
    }

    .number-card {
        flex: 1 1 45%;
    }
}

/* desktop */


@media screen and (min-width: 811px) {
    .container-number {
        width: 70%;
        margin: 1rem auto;
    }

    .number-card {
        flex: 1 1 30%;
    }
    
    .title4 {
        font-size: 2rem;
    }
}

/* sezione 5 */
