* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* General style */

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
}


/* navbar */

.nav-top {
    background-color: #0084fd;
    height: 4.7rem;
}

.flex {
    display: flex;
}

.nav-top .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-top ul {
    display: none;
}

.nav-top .hamburger {
    color: white;
    font-size: 1.5rem;
}

@media screen and (min-width: 811px) {
    .nav-top .hamburger {
        display: none;
    }
    

    .nav-top ul {
        display: flex;
        list-style: none;
        color: white;
        align-items: center;
        height: 100%;
        
    }
    
    .nav-top li {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: white;
        padding: 0 1rem;
    }
    
    
    .nav-top .nav-link:hover {
        background-color: aqua;
    }
    
    .nav-top .btn {
        background-color: white;
        padding: 0.5rem;
        color: black;
    }
   
}

/* sezione1 */

.container-card {
    margin: 0 auto;
    width: 90%;
}

.card {
    background-color: #b5ddff;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    line-height: 1.6em;
}

.card1 {
    padding: 20px 2rem;
    text-align: left;
}


.card-title {
    color: #0084fd;
    font-weight: bolder;
    font-size: 2rem;
    padding: 20px 5px;
    font-size: 1.5rem;
    white-space: nowrap;
}

.card p {
    padding: 1.5rem;
}

.card-img img {
    width: 100%;
}

.card .btn {
    background-color: #0084fd;
    padding: .5rem 3rem;
    margin: 1rem 0;
}

.card .card-link {
    text-decoration: none;
    color: white;
}

.icon {
    
    color: #0084FD;
    font-size: 5rem;
    padding: 20px;
    
}

@media screen and (min-width: 376px) {
    .container-card {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        flex: 1 1 30%;
    }

    .card1 {
        flex: 1 1 63.5%;
        
    }

    .card1 img {
        width: 60%;
    }

    
}